<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.nexaas.nexaascart.features">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/HomeStyle"/>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/HomeStyle" />
    </application>

</manifest>